.productImage {
    max-width: 100%;
    max-height: 120px;
}

.productBox {
    border: rgb(238, 238, 238) 1px solid;
    padding: 30px;
    min-height: 370px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 1px 1px 2px rgb(222, 222, 222);
    transition: .5s;
}

.productBox:hover {
    box-shadow: 5px 5px 5px rgb(172, 172, 172);
    transition: .5s;
}

button {
    margin-left: 5px;
    margin-right: 5px;
}